@import url("https://fonts.googleapis.com/css2?family=Gulzar&family=The+Nautigal:wght@700&display=swap");

*{
    box-sizing: border-box;
}

html{
    font-family: 'Gulzar', serif;
}

body{
    margin: 0;
    background-color: #E1F4F3;
}